<div class="searched-class">
  <h2>
    <%= deptTitle %>
  </h2>
  <h3>
    <%= title %>
  </h3>
  <h4>Sections</h4>
  <div></div>
  <h4>Prequisites</h4>
  <p>
    <%= prerequisites %>
  </p>
  <h4>Corequisites</h4>
  <p>
    <%= corequisites %>
  </p>
  <h4>Description</h4>
  <p>
    <%= description %>
  </p>
</div>