<p>
  <ul>
  <% for(var i in start) { %>
    <% if(i != 0) { %>
      and
    <% } %>
    <%= start[i] %> to <%= finish[i] %> <%= days[i] %>
  <% } %>
  </ul>
  <ul>
  <% for(var i in teachers) { %>
    <% if(i != 0) { %>
      and
    <% } %>
    <% if(teachers[i]) { %>
      <%= (teachers[i].first_name) ? teachers[i].first_name : '' %> 
      <%= (teachers[i].last_name) ? teachers[i].last_name : '' %>
    <% } %>
  <% } %>
  </ul>
  <p class="capacity"><%= currentCapacity %>/<%= maxCapacity %></p>
</p>