<div class="section">
  <ul>
  <% for(var i in start) { %>
    <% if(i != 0) { %>
      and
    <% } %>
    <%= start[i] %> to <%= finish[i] %> <%= days[i] %>
  <% } %>
  </ul>
  <p class="capacity"><%= currentCapacity %>/<%= maxCapacity %></p>
</div>